.display-block {
  display: block;
}

.display-none {
  display: none;
}

body.is-gateway-opened .gatewayFrameContainer {
  display: block;
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .gatewayFrameContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.gatewayFrameContainer {
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 500;
  margin: 0 0 0 -512px;
  width: 90%;
  max-width: 1024px;
  height: 85%;
  border: 1px solid #1b1b1b;
  border-radius: 8px;
  padding: 4px;
  background-color: #000;
}

.gatewayFrame {
  height: 100%;
  width: 100%;
}

.html {
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  display: block;
  font: 300 14px "Gotham SSm A", "Gotham SSm B", Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
  -webkit-font-smoothing: antialiased;
}

.body {
  font: 300 14px "Gotham SSm A", "Gotham SSm B", Arial, Helvetica, sans-serif;
  color: #fff;
  background: black;
  background-size: cover;
  padding: 0;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  display: block;
}

/* HEADER */

.brainster-header-container {
  position: absolute;
  margin: 0 auto;
  background-color: #0d0d0d;
  width: 100%;
  height: 60px;
  text-align: center;
  top: 0;
  right: 0;
  z-index: 10001;
}

.brainster-header-placeholder {
  height: 40px;
}

.brainster-logo-container {
  padding: 10px 0;
  height: 20px;
}

.form-logo {
  width: 140px;
  height: 40px;
}

map {
  display: inline;
}

area {
  display: inline;
}

/* NAJAVA */

.st-g-wrapper {
  position: relative;
}

.st-loginForm-middleWrapper {
  width: 100%;
  max-width: 575px;
  margin-top: 0 auto;
  position: relative;
  text-align: center;
}

.h2-login {
  font-weight: 300;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

.st-loginForm-formWrapper {
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0 auto;
}

.st-form-parameterWrapper {
  margin-bottom: 10px;
  text-align: left;
}

.anim-slideLeft-1 {
  animation: startSlideLeft 0.1s ease-out, slideLeft 0.1s ease-out;
}

.anim-slideLeft-2 {
  animation: startSlideLeft 0.2s ease-out, slideLeft 0.1s 0.2s ease-out;
}

.st-sub-secondary {
  display: inline-block;
  color: white;
  font-family: Gotham SSm A, Gotham SSm B, sans-serif;
  font-size: 13px;
  line-height: 1;
  text-align: left;
  height: 14px;
  width: 100%;
  margin-left: 8px;
  margin-bottom: 5px;
}

.st-inputWithIcon-wrapper {
  position: relative;
}

input[type="number"],
input[type="password"],
input[type="text"] {
  width: 300px;
  height: 45px;
  border: 1px solid;
  border-color: transparent;
  text-align: left;
  background-color: #fff;
  box-sizing: border-box;
  padding: 5px 8px;
  margin-bottom: 3px;
  font-family: Gotham SSm A, Gotham SSm B, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #000;
  border-radius: 4px;
}

.st-submitContainer {
  margin-top: 20px;
}

.st-buttonLoadingWrapper {
  display: inline-block;
  max-width: 300px;
  width: 100%;
  position: relative;
}

.submit {
  font-size: 20px;
  font-weight: 300;
  max-width: 300px;
  min-height: 40px;
  background-color: burlywood;
  color: white;
  border: 1px solid transparent;
}

.submit:hover {
  background-color: rgb(255, 236, 174);
}

.btn {
  font-family: Gotham SSm A, Gotham SSm B, sans-serif;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.link-container.first {
  margin-top: 40px;
}

.link-container {
  margin-top: 10px;
  text-align: center;
  height: 35px;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 1px solid #999;
  font-size: 13px;
  padding: 9px 20px 10px 20px;
}

.btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: burlywood;
}

/* CLOSE BUTTON */

body.is-gateway-opened:not(.no-gateway-close) .modal-close {
  display: block;
  visibility: visible;
}

.modal-close {
  position: fixed;
  padding: 5px;
  top: 15px;
  right: 31px;
  z-index: 501;
}

.icon-gocss-close {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border: solid 2px burlywood;
  border-radius: 50%;
  /* -webkit-transform: rotate(-45deg); */
  transform: rotate(-45deg);
  cursor: pointer;
  /* -webkit-transition: all 0.2s; */
  transition: all 0.2s;
}

.icon-gocss-close::before {
  height: 2px;
  top: 9px;
  right: 3px;
  left: 3px;
  display: block;
  position: absolute;
  content: "";
  background-color: #fff;
  border-radius: 1px;
}

::before {
  box-sizing: inherit;
}

.icon-gocss-close::after {
  width: 2px;
  left: 9px;
  top: 3px;
  bottom: 3px;
  display: block;
  position: absolute;
  content: "";
  background-color: #fff;
  border-radius: 1px;
}

::after {
  box-sizing: inherit;
}

.icon-gocss-close,
.icon-gocss-close:hover {
  border-color: #e1981a;
}

.icon-gocss-close:hover {
  cursor: pointer;
  transform: rotate(45deg);
}

/* OVERLAY */

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  overflow-y: scroll;
  background-color: rgba(10, 10, 10, 0.9);
  overflow-y: initial;
}
